<body class="home-page">

  <header class="page-header">
    <h1>
      Welcome to our kitchen!
    </h1>
    <h3>
      What are we creating today?
    </h3>
  </header>

  <div class="links-container">
    <% if current_user %>
      <%= month_calendar do |date| %>
        <%= date.day %>
      <% end %>
    <% end %>
    <div class="container">
      <%= link_to 'Lets Cook!', '/recipes' %>
    </div>
    <% if current_user %>
      <div class="container">
        <%= link_to 'My Fridge', items_path %>
      </div>
    <% end %>
  </div>

</body>
