.events-page {
  background-image: url('point3d-commercial-imaging-ltd-0dj9V9s-R9c-unsplash.jpg');
  background-position: center -50px;

  .container {
    margin: 7px auto;
    width: 500px;
    padding: 8px;
    max-height: 620px;
  }

  .legends {
    display: flex;
    justify-content: space-around;
  }
}
