.event-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
  min-width: 500px;
  max-width: 700px;

  .container {
    padding: 20px;
    margin-bottom: 20px;
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
  }

  .attend-event {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
  
    &:hover {
      background-color: #218838;
    }
  }

  .event-name {
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
  }

  .invited-list,
  .attending-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
  }

  .invited-friend,
  .attending-friend {
    margin: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  h4 {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .invite-form {
    margin: 20px 3px;
  
    form {
      select, input[type="submit"] {
        margin: 5px 3px;
        padding: 10px;
      }
  
      input[type="submit"] {
        background-color: #28a745;
        color: white;
        border: none;
        border-radius: 5px;
  
        &:hover {
          background-color: #218838;
        }
      }
    }
  }
}
