.event-info {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .container {
    background:  rgba(0, 0, 0, 0.8);
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;

    h3 {
      margin-top: 0;
      font-size: 1.5rem;
      color: #ffffff;
    }

    p {
      margin: 10px 0;
      color: #ffffff;
    }

    .actions {
      display: flex;
      justify-content: flex-start;
      gap: 5px;

      .fa-icon {
        cursor: pointer;
        font-size: 1.2rem;
        transition: color 0.3s ease;

        &.green:hover {
          transform: scale(1.6);
        }

        &.red:hover {
          transform: scale(1.6);
        }
      }
    }

    .event-name {
      font-size: 2em;
      font-weight: bold;
      color: #f0f0f0;
      margin: 10px 0;
      text-align: center;
      border-bottom: 1px solid #ccc;
      padding-bottom: 10px;
    }
    
    .event-description {
      font-size: 1em;
      color: #f0f0f0;
      margin: 10px 0 20px 0;
      line-height: 1.5;
    }
    
    .event-owner {
      font-size: 1.2em;
      font-weight: bold;
      color: #f0f0f0;
      margin: 10px 0;
    }
    
    .event-time {
      font-size: 1em;
      color: #f0f0f0;
      margin: 5px 0 15px 0;
    }

    .invited-list,
    .attending-list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      list-style-type: none;
      padding: 0;
    }

    .invited-friend,
    .attending-friend {
      margin: 10px;
      padding: 10px;
      background-color: rgba(0, 0, 0, 0.8);
      border: 1px solid #ccc;
      border-radius: 5px;
      display: flex;
      align-items: center;
    }

    h4 {
      margin-top: 20px;
      margin-bottom: 10px;
      font-size: 1.5em;
      color: #f0f0f0;
      text-align: center;
    }

    .invite-form {
      margin: 20px 3px;
    
      form {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
    
        select, input[type="submit"] {
          margin: 5px 3px;
          padding: 10px;
          font-size: 1em;
        }
    
        input[type="submit"] {
          background-color: #28a745;
          color: white;
          border: none;
          border-radius: 5px;
          cursor: pointer;
    
          &:hover {
            background-color: #218838;
          }
        }
      }
    }
  }
}
