.events-page {
  background-image: url('point3d-commercial-imaging-ltd-0dj9V9s-R9c-unsplash.jpg');
  background-position: center -50px;

  .body-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
  }

  .calendar {
    max-width: 600px;
    height: fit-content;
    margin: 0px;
  }

  .new-event {
    width: 500px;
    margin-bottom: 30px
  }

  .checkbox {
    height: 20px;
    width: 20px;
    margin-left: 5px;
  }

  .checkbox-container {
    display: flex;
    align-items: center;
  }

}
