.events-page {
  background-image: url('point3d-commercial-imaging-ltd-0dj9V9s-R9c-unsplash.jpg');
  background-position: center -50px;

  .container {
    margin-bottom: 50px;
    width: 500px;
  }

  .legends {
    display: flex;
    justify-content: space-between;
  }
}
