.friends {
  background-image: url('odiseo-castrejon-CX8ooha2yLA-unsplash.jpg');
  background-position: center -150px;

  .friends-containers {
    display: flex;
  }

  img {
    width: 50px;
    height: 50px;
  }

  .container {
    margin: 15px;
    margin-top: 50px;
  }

  .form {
    margin: 30px;
  }

  .user {
    margin-bottom: 15px;
  }

  h3 {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .sent-requests {
    margin-bottom: 40px;
  }

  .search-results {
    margin-top: 40px;
  }
}