.home-page {
  background-image: url('point3d-commercial-imaging-ltd-0dj9V9s-R9c-unsplash.jpg');
  background-position: center -50px;

  h1 {
    font-size: 3.5em;
  }

  h3 {
    font-size: 2.5em;
  }

  .container {
    font-size: 2em;
    transition: transform 0.3s ease;
    margin: 0px;
    width: fit-content;
  }

  .container:hover {
    transform: scale(1.05);
    text-decoration: underline;
  }

  .links-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 150px;
    width: 80%
  }
}
