.home-page {
  background-image: url('point3d-commercial-imaging-ltd-0dj9V9s-R9c-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #050505;
  

  h1 {
    font-size: 80px;
  }

  h3 {
    font-size: 50px;
  }

  a {
    color: white;
    text-decoration: none;
  }

  .links-container {
    display: flex;
    flex-direction: row;
  }

  .container {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    width: fit-content;
    font-size: 2em;
    color: white;
    transition: transform 0.3s ease;
  }

  .container:hover {
    transform: scale(1.05);
    text-decoration: underline;
  }

}