.inventory {
  background-image: url('ello-AEU9UZstCfs-unsplash.jpg');

  .table-container {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    margin-top: 50px;
    padding-top: 15px;
    width: 90%;
    max-width: 900px;
    border: 1px solid #ddd;
  }

  .table-data {
    background-color: transparent;
    color: white;
  }
}