.navbar {
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-logo h1 {
  margin: 0;
  font-size: 4em;
}

.navbar-logo h1 a {
  color: white;
  text-decoration: none;
}

.navbar-logo h1 a:hover {
  text-decoration: underline;
}

.navbar-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.navbar-user {
  justify-content: space-between;
  color: white;
  margin-bottom: 10px;
}

.navbar-user p {
  display: inline-block;
  margin: 0;
}

.navbar-user a {
  color: white;
  text-decoration: none;
  margin-left: 10px;
}

.navbar-user a:hover {
  color: #f2f2f2;
}

.navbar-links {
  display: inline-block;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  padding: 8px 12px;
  transition: background-color 0.3s;
}

a:hover {
  background-color: #555;
  text-decoration: underline;
}
