.recipes {
  background-image: url('becca-tapert-mDOGXiuVb4M-unsplash.jpg');
  background-position: 0px -150px;
  margin-bottom: 500px;

  .saved-recipes {
    display: flex;
    align-items: center;
    font-size: 1em;
    width: 700px;
    min-height: 225px;
    margin-bottom: 50px;
    margin-right: 50px;
    text-decoration: none;
  }

  .body-content {
    display: flex;
  }

  .recipe-name {
    font-size: 2em;
  }

  .recipe-details {
    width: inherit;
    margin-right: 5px;
  }

  .actions {
    display: flex;
    justify-content: right;
  }

  .upload-recipe {
    font-size: 2em;
    margin-bottom: 50px;
  }

  img {
    width: 200px;
    height: 200px;
    margin: 15px;
    margin-left: 5px;
    border-radius: 8px;
  }
}
